<div class="container">
    <div class="row">
        <div class="col-12 header text-center">
            <h2 class="display-2">Scene It</h2>
            <p>Search for movies you want to watch. Save them to your list.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 search">
            <form id="movietitle" name="movietitle" action="/search" method="GET">
                <div class="input-group input-group-lg">
                    <input class="form-control search-bar" placeholder="Search for a movie title..." id="title" name="title"> <button class="btn btn-primary input-group-btn" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 results">
            <div class="card-layouts">


                <div class="card-container">
                    <div class="alert alert-primary" role="alert">
                        Why not try searching for a movie. Just type the title and click "Search".
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>