<div class="container text-center footer">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
            &copy;2020 <a href="mailto:hello@jnutterdev.com">jnutterdev</a>. An app built with Express.js for searching/saving a movie list.
        </div>
        <div class="col">

        </div>
    </div>
</div>


<script src="js/bootstrap.min.js">
    < /body>

    <
    /html>