

 <div class="container">
        <div class="row">
            <div class="col-12 header text-center">
                <h2 class="display-2">Scene It</h2>
                <p>Your currently saved movies!</p>
                <p><a href="/">Go back to search page</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 search">
            </div>
        </div>
        <div class="row">
            <div class="col-12 results">
                <div class="movies-container card-columns">
                    
                    <div id="movie-cards">
                    
                           <p>You don't have any saved movies. <a href="/">Search for one?</a></p>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>