
body {
	background-color: #343d46;
}

.header h2 {
	color: #c0c5ce;
}

.header p {
	color: #65737e;
}

.results {
	margin-top: 20px;
	padding: 0;
}

.movies-container {
	display: grid;
	margin: auto;
	grid-template-rows: auto;
}
.movie {
	display: flex;
	align-content: flex-start;
	margin: 10px 20px;
	padding: 0;
}

.movieInfo {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	align-items: stretch;
	justify-content: space-around;
	background-color: #c0c5ce;
	opacity: 1;
	transition: opacity 2s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.movieTitle {
	justify-self: flex-start;
	text-align: center;
}

.movieImage {
	flex-basis: 50%;
	width: 50%;
	margin-right: 5px;
	border-radius: 25px;
}

.addButton {
	align-self: flex-end;

}

@media screen and (min-width: 1000px){
 .movies-container {
	grid-template-columns: 1fr 1fr 1fr; 
 }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
	.movies-container {
	   grid-template-columns: 1fr 1fr; 
	}
   }

