html {
	height: 100%;
}
body {
	/* https://css-tricks.com/css3-gradients/ */
	background: -webkit-gradient(linear, left top, left bottom, from(#0064cc), to(transparent)) fixed;
	/* height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: linear-gradient(23deg, #0064cc, transparent); */
}

.header h2 {
	color: #0f1079;
}

.header p {
	color: #fafff7;
}

.results {
	margin-top: 20px;
}

.movies-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.movie {
	margin-bottom: 5px;
}

.badge {
	float: right;
}
