body {
	background-color: #B2E9FD;
}

h1{
    font-size: 40px;
    
}

.results {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.movie-card {
	margin-bottom: 20px;
}